@using Sandbox.UI
@using Sandbox.Tools
@using System.Linq
@namespace Sandbox.UI
@inherits Panel

<root>
  	<div class="wire-gate-container">
		@foreach (var kvp in WireGateEntity.GetGates())
		{
			var category = kvp.Key;
			var gates = kvp.Value;
			<div class="wire-gate-category">
				<div class="wire-gate-category-label">
					@category
				</div>
				<div class="wire-gate-category-list">
					@foreach (var gateName in gates)
					{
						<button
							class="wire-gate-category-list-button"
							onclick=@(() => ConsoleSystem.Run( "wire_spawn_gate", gateName ))
						>
							@gateName
						</button>
					}
				</div>
			</div>
		}
  	</div>
</root>

@code {
    private static bool UiVisible = false;
	public override void Tick()
	{
		base.Tick();
		SetClass( "visible", UiVisible || Input.Down( "drop" ) );
	}

	[ConCmd.Client( "wire_spawn_gate_ui_show" )]
	public static void ShowUi()
	{
		UiVisible = true;
	}
	[ConCmd.Client( "wire_spawn_gate_ui_hide" )]
	public static void HideUi()
	{
		UiVisible = false;
	}
}

<style>
WireGateHud {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10%;

  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  &.visible {
    display: flex;
    opacity: 1;
  }

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .wire-gate-container {
    display: flex;
    max-width: 60%;
    flex-direction: column;
    .wire-gate-category {
      align-items: center;

      padding-bottom: 10px;
      .wire-gate-category-label {
        color: rgb(216, 216, 216);
        text-shadow: -1px -1px 4px #000000, 2px 2px 4px #000000;
        padding: 4px;
        padding-right: 8px;
        font-size: 16px;
        white-space: nowrap;
        min-width: 100px;
      }
      .wire-gate-category-list {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
      }
    }

    button {
      color: rgb(216, 216, 216);

      padding: 16px;
      margin: 2px;
      background-color: rgba(black, 0.85);
      border-radius: 12px;
      font-size: 14px;
      cursor: pointer;
      pointer-events: all;

      &:hover,
      &:active {
        background-color: rgba(black, 0.75);
        color: white;
      }
    }
  }
}
</style>